name: CI

on: [push, pull_request]

jobs:
  build:
    name: >-
      ruby-${{ matrix.ruby }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '2.6', '2.7' ]

    steps:
      - name: repo checkout
        uses: actions/checkout@v2

      - name: Set up Ruby ${{ matrix.ruby }}
        uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: bundle install
        run: |
          bundle install --jobs 4 --retry 3 --path=.bundle

      - name: test
        run: bundle exec rake test

      - name: package
        run: bundle exec rake build

      - name: store package name
        id: package-name
        run: echo "::set-output name=file::$(ls -1 pkg/)"

      - name: store artifact
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-artifact@v1.0.0
        with:
          name: ${{ steps.package-name.outputs.file }}
          path: pkg

  publish:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Set up Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.7'

      - name: Download gem artifact
        uses: actions/download-artifact@v1
        with:
          name: ${{ jobs.build.steps.package-name.outputs.file }}

